<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_ipl_data_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd

delivery=pd.read_csv('/content/deliveries.csv')

delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [25]:
import pandas as pd

delivery=pd.read_csv('/content/deliveries.csv')

player=delivery.groupby('batsman')

player.sum()   # will take all numerical values from dataframe and will add them

<ipython-input-25-8d82de3e368c>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player.sum()   # will take all numerical values from dataframe and will add them

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
batsman,,,,,,,,,,,,,
A Ashish Reddy,90024,277,3312,720,0,3,5,0,0,0,280,8,288
A Chandila,2815,7,132,23,0,0,0,0,0,0,4,0,4
A Chopra,7602,78,467,273,0,4,0,1,0,0,53,5,58
A Choudhary,614,28,371,71,0,0,0,0,0,0,25,0,25
A Flintoff,6908,100,670,203,0,4,0,6,0,0,62,10,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YV Takawale,54862,305,1017,695,0,5,0,9,1,0,192,15,207
Yashpal Singh,9918,113,578,250,0,1,0,0,1,0,47,2,49
Younis Khan,679,14,21,25,0,0,0,0,0,0,3,0,3
Yuvraj Singh,634434,3064,25532,7599,2,82,2,28,7,0,2591,119,2710
Z Khan,31770,226,2423,525,0,0,3,0,1,0,117,4,121

# player with most runs?

In [22]:
player['batsman_runs'].sum().sort_values()

batsman
S Kaushik            0
S Ladda              0
V Pratap Singh       0
L Ablish             0
IC Pandey            0
                  ...
DA Warner         4014
G Gambhir         4132
RG Sharma         4207
V Kohli           4423
SK Raina          4548
Name: batsman_runs, Length: 461, dtype: int64

In [24]:
player.size()

batsman
A Ashish Reddy     196
A Chandila           7
A Chopra            75
A Choudhary         20
A Flintoff          57
                  ...
YV Takawale        183
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2050
Z Khan             141
Length: 461, dtype: int64

# player with most 4's?

In [42]:
player=delivery.groupby('batsman')

delivery[delivery['batsman_runs']==4][['batsman','batsman_runs']].value_counts().sort_values()  # tail(1) for player with highest 4's

batsman          batsman_runs
KAJ Roach        4                 1
S Nadeem         4                 1
NS Naik          4                 1
M Muralitharan   4                 1
JJ van der Wath  4                 1
                                ...
V Kohli          4               384
S Dhawan         4               401
DA Warner        4               401
SK Raina         4               402
G Gambhir        4               484
Length: 368, dtype: int64

# using masking concept

In [50]:
mask=delivery['batsman_runs']==4

delivery[mask][['batsman','batsman_runs']].value_counts()

batsman         batsman_runs
G Gambhir       4               484
SK Raina        4               402
DA Warner       4               401
S Dhawan        4               401
V Kohli         4               384
                               ...
S Gopal         4                 1
DE Bollinger    4                 1
Sandeep Sharma  4                 1
Shivam Sharma   4                 1
KAJ Roach       4                 1
Length: 368, dtype: int64

#  total 6's in ipl

In [47]:
mask=delivery['batsman_runs']==6

delivery[mask].shape[0]

6523