<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_column_renaming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

dict2={'cars':['honda','hyundai','tata'],'year':['2011','2020','2022']}

df=pd.DataFrame(dict2)

df1=df.rename(columns={'cars':'4wheeler','year':'manuYear'},inplace=False)
print(df)
print("**************************************")
df1

      cars  year
0    honda  2011
1  hyundai  2020
2     tata  2022
**************************************

  4wheeler manuYear
0    honda     2011
1  hyundai     2020
2     tata     2022

In [37]:
import pandas as pd

data={'name':['rohan','john','samir'],'height':[165,175,160],'weight':[75,50,80]}

df=pd.DataFrame(data)

df.rename(columns={'name':'students'},inplace=True)

df

  students  height  weight
0    rohan     165      75
1     john     175      50
2    samir     160      80